

:root{
    --primary-color: #f8f7f4;
    --secondary-color: #252525;
}

.dark-theme{
    --primary-color: #252525;
    --secondary-color: #f8f7f4;
}

body{
    font-family: monospace;
    background-color: var(--primary-color);
}

.m3{
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo .m3{
    width: 28vh;
}

.m3 h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-color);
}

#icon{
    width: 30px;
    cursor: pointer;
    padding: 0 25px 0 0px;
}

.clickme p{
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-color);
}